.profile__avatar-cont {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: relative;
}

.profile__avatar-cont::after {
    content: " ";
    background:  url(../../../images/editProfile.svg) no-repeat center;
    height: 26px;
    width: 26px;
    top: 47px;
    left: 47px;
    z-index: 2;
    visibility: hidden;
    position: absolute; 
}

.profile__avatar-cont:hover::after {
    visibility: visible;
}