.header__logo {
    background-image: url(../../../images/logo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 142px;
    height: 33px;
    /*margin:max(min(calc(45px - (1280px - 100vw)/50.0),45px),28px) max(min(calc(0px + (1280px - 100vw)/100.0),8px),0px) max(min(calc(41px - (1280px - 100vw)/45.0),41px),31px);*/
}