.popup__input-name {
    outline: none;
    margin: 0 36px 30px;
    padding: 0 0 9px 0;
    width: 358px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    border: 0px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
    /*height: 14px;Высота текста 17???12px*/
}

@media screen and (max-width: 640px) {
    .popup__input-name {
        margin: 0 22px 27px;
        width: 238px;
    }
}