.popup__btn-save {
    margin: 18px 36px 37px;
    padding: 0;
    border: none;
    width: 358px;
    height: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    background: #000000;
    border-radius: 2px;
    transition: opacity 1s;
    box-sizing: border-box;
}

.popup__btn-save:hover {
    opacity: 0.8;
    cursor: pointer;
}

/*скоректированны отступы на рассогласование размера блока в макете и указаниях line-height
Но на 1280 Sum(элементов)=219 а в браузере 220.6, не пойму откуда +1.6px при том что border margin padding подсчитаны
PS По заданию на больших разрешениях нестыковка в размерах может быть 30px на малых в 10px не знаю будет ли это спасением)*/
@media screen and (max-width: 640px) {
    .popup__btn-save {
        margin: 15px 22px 25px;
        width: 238px;
        height: 46px;
        font-size: 14px;
        line-height: 17px;
    }
}